Flask==3.0.0
Flask-Cors==4.0.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
SQLAlchemy==2.0.21
# psycopg2==2.9.7 # this was the library that caused some errors in production before
psycopg2-binary
python-dotenv==0.21.0
pytest
pytest-cov
bcrypt==4.2.0
